.navigator {
    text-align: center;
	font-size: 40pt;
	color: #323232;
	background-color: rgb(95, 178, 242);
	border: none;
	border-radius: 5%;
	width: 100pt;
	height: 60pt;
}

.disabled {
	color: #3b3b3b;
	background-color: #323232;
}

.on-progress {
    color: white;
    background-color: green;
}

.game-over {
    color: white;
	background-color: #323232;
}